body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-image: url(../imagens/FUNDO.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-container {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow-y: auto;
    padding-bottom: 70px;
    height: calc(100vh - 120px); 
}

.input-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2e2e2e;
    color: #ffffff;
}

.input-container button {
    padding: 10px 15px;  
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}

.input-container button i {
    font-size: 18px;  
}

.message {
    display: flex;
    margin-bottom: 15px;
    position: relative;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 70%;
}

.sender-1 .message-bubble {
    background-color: #007bff;
    color: #ffffff;
}

.sender-2 .message-bubble {
    background-color: #2e2e2e;
    color: #ffffff;
}

.sender-1 {
    align-self: flex-start;
}

.sender-2 {
    align-self: flex-end;
}

.sender-name {
    font-size: 12px;
    color: #fff;
    margin-bottom: 5px;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    top: 15px;
}

.arrow-left {
    border-width: 10px 10px 10px 0;
    border-color: transparent #1e1e1e transparent transparent;
    left: -10px;
}

.arrow-right {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #2e2e2e;
    right: -10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    margin-left: 60px;
    margin-bottom: 15px;
}

.inline-button {
    padding: 10px;
    margin-right: 10px;
    background-color: #ebefeb40;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.3s ease;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inline-button:hover {
    background-color: #0056b3;
}

.inline-button:active {
    background-color: #00408a;
}

.typing-indicator {
    display: flex; 
    align-items: center; 
    margin-bottom: 15px;
}

.typing-indicator .message-bubble {
    display: flex; 
    background-color: transparent; 
    box-shadow: none; 
}

.typing-indicator .bubble {
    width: 8px;
    height: 8px;
    margin: 0 5px; 
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
    animation: blink 1.4s infinite both;
}

.typing-indicator .bubble:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator .bubble:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.6;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}
